body {
  margin: 0;
  animation: body .5s;
  font-family: "Alegreya Sans SC", "Sawarabi Mincho", sans-serif;
}

* {
  margin: 0;
}

.contact-2 {
  display: none;
}

.global-nav {
  display: none;
}

.p-en {
  font-size: 14px;
  line-height: 24px;
}

.p-ja {
  line-height: 24px;
  font-size: 10px;
  letter-spacing: 2.5px;
  margin-top: 20px;
}

.top-img {
  margin: 0;
  width: 100%;
  height: 700px;
  background: center/cover url(../img/top_img.jpg);
}

.logo {
  width: 100px;
  height: 45px;
  color: #fff;
  font-size: 36px;
  margin-left: 20px;
}

.btn-trigger {
  position: relative;
  width: 30px;
  height: 21px;
  cursor: pointer;
  margin: 12px 20px 0 0;
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 8.5px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn01.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

#btn01.active span:nth-of-type(2) {
  opacity: 0;
}

#btn01.active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

#top {
  margin: 0;
  width: 100%;
  position: relative;
}

.top-container {
  margin: 0;
  width: 100%;
  display: flex;
  position: absolute;
  top: 10px;
  justify-content: space-between;
}

#top {
  width: 100%;
}

#top h1 {
  width: 300px;
  position: absolute;
  top: 230px;
  left: 20px;
  color: #fff;
  line-height: 30px;
  font-size: 30px;
  animation: h1move 1.8s;
  animation-fill-mode: forwards;
}

#top h1 span {
  font-size: 40px;
  margin-left: 100px;
}

#top p {
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 330px;
  right: 25px;
  animation: pmove 1.8s;
  animation-fill-mode: forwards;
}

@keyframes body {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1move {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateX(7px);
    opacity: 1;
  }
}

@keyframes pmove {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateX(-7px);
    opacity: 1;
  }
}

.modal-bg {
  position: absolute;
  top: 100px;
  margin: 0;
  width: 100%;
  height: 500px;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: .5s;
}

.modal-bg ul {
  margin-left: 30%;
  padding: 0;
  padding-top: 30px;
  font-size: 24px;
  list-style: none;
}

.modal-bg ul a {
  display: block;
  margin: 40px 0 20px 0;
  width: 90px;
  height: 28px;
  color: #000;
  text-decoration: none;
  user-select: none;
}

.modal-bg ul li {
  margin: 20px 0 30px 0;
  padding: 0;
}

.show {
  opacity: .9;
  transform: translateY(-30px);
  pointer-events: auto;
}

.icon-container {
  width: 200px;
  margin: 60px auto 0 auto;
  display: flex;
}

.icon-container a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 20px 0 20px;
}

#about {
  height: 1350px;
  position: relative;
}

#about h1 {
  margin: 0 auto;
  width: 70px;
  font-size: 20px;
  color: #5c7c5f;
  text-align: center;
  padding: 70px 0;
  opacity: 0;
  position: relative;
  left: 7px;
}

#about p:nth-of-type(1) {
  padding: 40px;
  padding-top: 0;
  opacity: 0;
}

#about p:nth-of-type(2) {
  padding: 40px;
  opacity: 0;
}

#about .bg {
  position: absolute;
  width: 70%;
  height: 60%;
  top: 120px;
  bottom: 0;
  background-color: #f5f8ee;
  z-index: -1;
}

@keyframes pmove {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateY(-7px);
    opacity: 1;
  }
}

.pShow {
  animation: pmove 1.8s;
  animation-fill-mode: forwards;
}

@keyframes abouth1 {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateX(-7px);
    opacity: 1;
  }
}

.ah1move {
  animation: abouth1 1.8s;
  animation-fill-mode: forwards;
}

.container-1,
.container-2 {
  padding-left: 18%;
  display: flex;
  flex-direction: row-reverse;
}

.container-1 div,
.container-2 div {
  margin: 5px;
  width: 100%;
  height: 140px;
}

.about-img-1 {
  background: center/cover url(../img/FoliagePlant_13.jpg);
  opacity: 0;
}

.about-img-2 {
  background: center/cover url(../img/FoliagePlant_6.jpg);
  opacity: 0;
}

.about-img-3 {
  background: center/cover url(../img/FoliagePlant_8.jpg);
  opacity: 0;
}

.about-img-4 {
  background: center/cover url(../img/FoliagePlant_1.jpg);
  opacity: 0;
}

@keyframes imgShow {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imgShow1 {
  animation: imgShow 1.5s;
  animation-fill-mode: forwards;
}

.imgShow2 {
  animation: imgShow 1.5s .1s;
  animation-fill-mode: forwards;
}

.imgShow3 {
  animation: imgShow 1.5s .2s;
  animation-fill-mode: forwards;
}

.imgShow4 {
  animation: imgShow 1.5s .3s;
  animation-fill-mode: forwards;
}

.container-3 {
  display: flex;
  padding: 60px 20px;
  justify-content: flex-end;
}

.container-3 a {
  text-decoration: none;
}

.container-3 div:first-child {
  font-size: 18px;
  margin: 0 5px;
  color: #5c7c5f;
}

.container-3 .material-icons {
  color: #5c7c5f;
}

#designer {
  position: relative;
  height: 950px;
}

.designer-img {
  width: 80%;
  height: 200px;
  background: center/cover url(../img/designer1.png);
  opacity: 0;
  position: absolute;
  left: -10px;
}

.bg2 {
  position: absolute;
  width: 70%;
  height: 80%;
  left: 30%;
  top: 100px;
  bottom: 0;
  background-color: #f5f8ee;
  z-index: -1;
}

.designermove {
  animation: designmove 2s;
  animation-fill-mode: forwards;
}

@keyframes designmove {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateX(10px);
    opacity: 1;
  }
}

.designer-main {
  position: absolute;
  top: 270px;
}

.designer-main h1 {
  font-size: 20px;
  color: #5c7c5f;
  padding: 40px;
}

.designer-main h2 {
  padding-left: 40px;
}

.designer-main h2:nth-of-type(2) {
  padding-top: 10px;
  font-size: 12px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.designer-main p:nth-of-type(1) {
  padding: 40px;
}

.designer-main p:nth-of-type(2) {
  padding: 40px;
}

#service {
  height: 1400px;
}

#service .serh1 {
  font-size: 20px;
  color: #5c7c5f;
  text-align: center;
  padding: 70px 0 70px 7px;
}

#service .service-container {
  padding: 0 10px;
}

#service .service-container .service1,
#service .service-container .service2,
#service .service-container .service3 {
  margin-top: 30px;
}

#service .service-container .service1 p,
#service .service-container .service2 p,
#service .service-container .service3 p {
  padding: 10px 20px 0 20px;
}

#service .service-container .service1 .ser-container,
#service .service-container .service2 .ser-container,
#service .service-container .service3 .ser-container {
  display: flex;
  height: 105px;
  opacity: 0;
  margin-bottom: 20px;
}

#service .service-container .service1 .ser-container img,
#service .service-container .service2 .ser-container img,
#service .service-container .service3 .ser-container img {
  width: 100px;
  height: 100px;
}

#service .service-container .service1 .ser-container h2,
#service .service-container .service2 .ser-container h2,
#service .service-container .service3 .ser-container h2 {
  height: 105px;
  padding: 34px 0 34px 20px;
  font-size: 14px;
  letter-spacing: 2.5px;
}

#service .service-container .service1 .ser-container h2 span,
#service .service-container .service2 .ser-container h2 span,
#service .service-container .service3 .ser-container h2 span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2.5px;
  padding: 3px;
}

#service .service-container .service1 .ser-p,
#service .service-container .service2 .ser-p,
#service .service-container .service3 .ser-p {
  opacity: 0;
}

.ser-con-move {
  animation: sermove1 2s;
  animation-fill-mode: forwards;
}

@keyframes sermove1 {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateX(10px);
    opacity: 1;
  }
}

.ser-p-move {
  animation: sermove2 2s;
  animation-fill-mode: forwards;
}

@keyframes sermove2 {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

#works {
  margin: 0;
  height: 1000px;
}

.serh1 {
  font-size: 20px;
  color: #5c7c5f;
  text-align: center;
  padding: 70px 0 70px 7px;
}

.works-top-img {
  width: 100%;
  height: 250px;
  background: center/cover url(../img/works-top.jpg);
  opacity: 0;
}

.worksshow {
  animation: works 2s;
  animation-fill-mode: forwards;
}

@keyframes works {
  0% {
    transform: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.works-head {
  width: 160px;
  height: 70px;
  margin: auto 0;
  padding: 30px;
}

.works-head h2 {
  padding-top: 16px;
  font-size: 16px;
  letter-spacing: 2.5px;
  padding: 3px;
}

.works-head h3 {
  font-weight: normal;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2.5px;
  padding: 3px;
}

#works p {
  padding: 40px;
}

#works .p-ja {
  padding-top: 0px;
}

hr {
  margin: 40px;
  opacity: .3;
}

.follow-img {
  margin: 0 auto;
  max-width: 800px;
  height: 250px;
  background: url(../img/follow-top.png);
}

.follow-container a {
  display: block;
  width: 155px;
  height: 30px;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
}

.follow-container a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
}

.follow-container div {
  height: 24px;
  text-align: center;
  font-size: 18px;
  margin: 5px 5px 0 10px;
  color: #5c7c5f;
}

.follow-container .twitter-text {
  margin-left: 21px;
}

.follow-container .span-twitter {
  margin-left: 7px;
}

.follow-container .material-icons {
  color: #5c7c5f;
}

#contact {
  font-size: 14px;
  width: 100%;
  height: 350px;
  padding-top: 40px;
  margin-top: 40px;
  background-color: #f1f1ef;
}

#contact h1 {
  margin-bottom: 60px;
  color: #5c7c5f;
  text-align: center;
}

a {
  text-decoration: none;
}

.contact {
  width: 110px;
  display: flex;
  margin: 0 auto;
}

.contact div:first-child {
  font-size: 14px;
  margin: 0 5px;
  color: #fff;
}

.contact div:nth-of-type(2) {
  margin-left: auto;
}

.contact .material-icons {
  color: #fff;
  padding-top: 24px;
}

.form,
.mail {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  height: 70px;
  margin: 40px 60px;
  background: #588058;
  line-height: 70px;
  cursor: pointer;
}

.arrow {
  width: 50px;
  height: 50px;
  margin: 60px 60px 20px auto;
  cursor: pointer;
}

.nav {
  padding-left: 20px;
  padding-top: 50px;
}

.nav ul li {
  font-size: 18px;
  list-style: none;
  margin: 30px 0;
}

.nav ul a {
  width: 75px;
  height: 25px;
  display: block;
  color: #000;
  text-decoration: none;
}

footer .sns-container {
  padding-left: 40px;
  padding-top: 50px;
}

footer .sns-container .follow-container a {
  margin: 20px 0;
}

.footer-text {
  margin: 60px 40px 40px 40px;
}

.footer-text p {
  margin: 20px 0;
}

.footer-text p:nth-of-type(1) {
  color: #5c7c5f;
}

.footer-text p:nth-of-type(2) {
  font-size: 20px;
}

.copy {
  margin: 40px;
  margin-bottom: 50px;
  font-size: 12px;
}

@media (min-width: 559px) {
  #top p {
    font-size: 14px;
  }
  .modal-bg {
    width: 560px;
    margin: 0 calc((100% - 560px) / 2);
    border-radius: 5px;
  }
  .about-container {
    display: flex;
  }
  #about {
    height: 1200px;
  }
  #about p:nth-of-type(1) {
    padding-right: 20px;
  }
  #about p:nth-of-type(2) {
    padding-top: 0;
    padding-left: 20px;
  }
  .designer-img {
    height: 250px;
  }
  .designer-main h1 {
    padding-left: 80px;
  }
  .designer-main h2 {
    padding-left: 80px;
  }
  .designer-main p:nth-of-type(1) {
    padding-left: 80px;
    padding-right: 150px;
  }
  .designer-main p:nth-of-type(2) {
    padding-left: 80px;
    padding-right: 150px;
  }
  #service {
    height: 1000px;
  }
  #service .service-container {
    display: flex;
    justify-content: space-between;
  }
  #service .service-container .service1,
  #service .service-container .service2,
  #service .service-container .service3 {
    opacity: 0;
    padding: 0 25px;
  }
  #service .service-container .service1 p,
  #service .service-container .service2 p,
  #service .service-container .service3 p {
    padding: 0;
  }
  #service .service-container .service1 .ser-container,
  #service .service-container .service2 .ser-container,
  #service .service-container .service3 .ser-container {
    display: initial;
    opacity: 1;
  }
  #service .service-container .service1 .ser-container h2,
  #service .service-container .service2 .ser-container h2,
  #service .service-container .service3 .ser-container h2 {
    font-size: 12px;
    height: 80px;
    padding: 0;
    padding-top: 25px;
    text-align: center;
  }
  #service .service-container .service1 .ser-container img,
  #service .service-container .service2 .ser-container img,
  #service .service-container .service3 .ser-container img {
    margin: 0 calc((100% - 100px) / 2);
  }
  #service .service-container .service1 .ser-p,
  #service .service-container .service2 .ser-p,
  #service .service-container .service3 .ser-p {
    opacity: 1;
  }
  .ser-p-move-none {
    animation: none;
  }
  .service-animation1 {
    animation: servicemove .7s .3s;
    animation-fill-mode: forwards;
  }
  .service-animation2 {
    animation: servicemove .7s .5s;
    animation-fill-mode: forwards;
  }
  .service-animation3 {
    animation: servicemove .7s .7s;
    animation-fill-mode: forwards;
  }
  @keyframes servicemove {
    0% {
      transform: none;
      opacity: 0;
    }
    100% {
      transform: translateY(-15px);
      opacity: 1;
    }
  }
  .container-3 {
    position: relative;
    right: 10%;
  }
  .container-3 div:first-child {
    font-size: 24px;
  }
  #works {
    height: 900px;
  }
  .workh1 {
    text-align: start;
    padding-left: 100px;
  }
  .worksarrow {
    position: relative;
    top: -550px;
    right: 60px;
  }
  .form,
  .mail {
    margin: 40px auto;
    max-width: 500px;
  }
}

@media (min-width: 769px) {
  .p-en {
    font-size: 16px;
  }
  .p-ja {
    font-size: 12px;
  }
  .global-nav {
    display: block;
  }
  .btn-trigger {
    display: none;
  }
  .logo {
    width: 100px;
    height: 45px;
    color: #fff;
    font-size: 50px;
    margin-left: 20px;
  }
  #top h1 {
    height: 100px;
    font-size: 40px;
    left: 100px;
  }
  #top h1 span {
    display: block;
    margin-top: 15px;
    font-size: 60px;
  }
  #top p {
    font-size: 16px;
    top: 400px;
    right: 100px;
  }
  .contact-2 {
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    width: 140px;
    height: 40px;
    background-color: #5c7c5f;
    line-height: 40px;
    text-align: center;
    transition: .6s;
  }
  .contact-2:hover {
    background-color: #688f6c;
  }
  .global-nav {
    width: 40%;
    height: 30px;
    margin-left: 50%;
    position: absolute;
    top: 290px;
  }
  .global-nav ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .global-nav ul a {
    margin: 0 10px;
    display: block;
    color: #fff;
    font-size: 20px;
    transition: .5s;
  }
  .global-nav ul a:hover {
    opacity: .8;
  }
  .global-nav ul a li {
    flex: 1;
    list-style: none;
  }
  .serh1 {
    font-size: 26px;
  }
  #about {
    height: 1470px;
  }
  #about h1 {
    font-size: 26px;
    padding: 90px 0;
  }
  .about-p {
    margin-top: 0;
  }
  .about-container {
    width: 70%;
  }
  .container-1 div,
  .container-2 div {
    height: 250px;
  }
  .container-3 div:first-child {
    transition: .8s;
  }
  .container-3 div:first-child:hover {
    opacity: .5;
  }
  .container-3 .material-icons {
    position: relative;
    top: 3px;
  }
  #designer {
    height: 850px;
  }
  .designer-container {
    display: flex;
  }
  .designer-img {
    position: static;
    width: 50%;
    height: 210px;
  }
  .designer-main {
    position: static;
    top: 0;
    width: 50%;
  }
  .designer-main h1 {
    font-size: 26px;
  }
  .designer-main p:nth-of-type(1) {
    padding: 0;
    margin: 70px;
    margin-bottom: 20px;
  }
  .designer-main p:nth-of-type(2) {
    padding: 20px 0 0 0;
    margin: 0 70px;
  }
  #service {
    height: 1000px;
  }
  #service .serh1 {
    font-size: 26px;
  }
  #service .service-container .service1,
  #service .service-container .service2,
  #service .service-container .service3 {
    margin: 0 25px;
  }
  #service .service-container .service1 .ser-container .ser-img,
  #service .service-container .service2 .ser-container .ser-img,
  #service .service-container .service3 .ser-container .ser-img {
    padding: 0 calc((100% - 170px) / 2);
  }
  #service .service-container .service1 .ser-container .ser-img img,
  #service .service-container .service2 .ser-container .ser-img img,
  #service .service-container .service3 .ser-container .ser-img img {
    margin: 0;
    width: 170px;
    height: 170px;
  }
  .works-top-img {
    margin: 0 calc((100% - 800px) / 2);
    max-width: 800px;
    height: 250px;
  }
  .follow-container a {
    transition: .8s;
  }
  .follow-container a:hover {
    opacity: .5;
  }
  .arrow {
    transition: .8s;
  }
  .arrow:hover {
    opacity: .7;
  }
  .nav ul a {
    transition: .8s;
  }
  .nav ul a:hover {
    opacity: .5;
  }
  .form,
  .mail {
    transition: .8s;
  }
  .form:hover,
  .mail:hover {
    opacity: .8;
  }
}

@media (min-width: 959px) {
  .works-container {
    display: flex;
  }
  .worksarrow {
    top: -370px;
  }
  .works-head {
    padding: 30px;
  }
  #works {
    height: 750px;
  }
  #works p {
    padding: 0;
  }
  #works .p-ja {
    padding: 30px;
    margin: 0;
  }
  #works .p-en {
    padding: 30px;
    margin: 0;
  }
  .arrow {
    margin: 60px auto 20px 60px;
  }
  .nav .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .nav .footer-container nav ul {
    margin-right: 30px;
    padding: 0;
    display: flex;
  }
  .nav .footer-container nav ul li {
    margin: 0;
  }
  .nav .footer-container nav ul a {
    margin: 0 10px;
  }
  .nav .footer-container .sns-container {
    width: 500px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .footer-text {
    margin-top: 0;
    margin-bottom: 0;
    justify-self: end;
  }
}
